* {margin: 0; padding: 0; box-sizing: border-box;}
#header {width: 100vw; height: 60px; display: flex; padding: 20px 16px; position: fixed; top: 0; left: 0; }
.scroll_wrap {width: 100vw; height: 100vh; padding: 8vh 10vw;}
